.carousel-section {
    width: 80vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 500px;
        .carousel-items {
            overflow: hidden;
            display: flex;
            height: 500px;
            width: 20%;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            .carousel-item {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    
}
.carousel-buttons {
    display: flex;
    justify-content: space-between  ;
    width: 100%;
    position: absolute;
}