.panier-wrapper {
padding-top: 2rem;
    height: 2000px;
    width: 400px;
    background-color: burlywood;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    animation: from-east 0.2s;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     .buttons {
          display: flex;
          justify-content: space-evenly;
          * {
               padding: 0.5rem;
          }
          }
     }
     .panier-elem {
          position: relative;
          border: solid;
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          .option-button {
               position: absolute;
               right: 0;
               bottom: 0;
          }
          .panier-elem-text {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               min-width: 100px;
          }
          .img-container {
               background-color: antiquewhite;
               height: 200px;
               min-width: 150px; 
               display: flex;
               justify-content: center;
               align-items: center;
               img {
                    height: 150px;
                    min-width: 100px;
               }
          }
          
     }
     .option-button {
          display: flex;
          width: fit-content;
          cursor: pointer;
          border: solid;
          border-radius: 50px; 
          padding: 0.5px;
          background-color: brown;
          transition: 0.5s;
          &:hover {
               transition: 0.2s;
          }
          &:active {
               transition: 0.2s;
          }
     }
.panier-container {
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.close {
     background-color: yellow;
     &:hover {
          background-color: rgb(224, 224, 136);
     }
     &:active {
          background-color: rgb(235, 235, 212);
     }
}
.reset {
     background-color: rgb(255, 0, 0);
     &:hover {
          background-color: rgb(221, 139, 139);
     }
     &:active {
          background-color: rgb(240, 201, 201);
     }
}
.title-products-section {
     font-size: 2rem;
}
@keyframes from-east {
     from {
          transform: translateX(1000px);
     }
     to {
          transform: translateX(0px);
     }
     
}