.book-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .nav-options {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .option {
            border: solid;
            border-radius: 20px;
            transition: 0.2s;
            &:hover {
                background-color: olivedrab;
            }
            &:active {
                transition: 0.1s;
                background-color: rgb(188, 226, 112);
            }
        }
    }
    .book-about {
        display: flex;
        
    }
    .book-info {
        padding: 2rem;
        gap: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid;
        background-color: antiquewhite;
        flex-direction: column;
        .book-image {
            gap: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        img {
            height: 300px;
            width: auto;
        }
    }
        .book-about-inside {
            display: flex;
            gap: 30px;
            flex-direction: column;
        }
    }
}   
.add-to-cart {
    border: solid;
    padding: 5px;
    border-radius: 50px;
    &:hover {
        background-color: olivedrab;
    }
    &:active {
        transition: 0.1s;
        background-color: rgb(188, 226, 112);
    }
}