.product-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .nav-options {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .option {
            border: solid;
            border-radius: 20px;
            transition: 0.2s;
            &:hover {
                background-color: olivedrab;
            }
            &:active {
                transition: 0.1s;
                background-color: rgb(188, 226, 112);
            }
        }
    }
}   
.add-to-cart {
    border: solid;
    padding: 5px;
    border-radius: 50px;
    background-color: aqua;
    &:hover {
        background-color: blue;
    }
    &:active {
        background-color: rgb(154, 154, 209);
    }
}